<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/user/ownprofile/style.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand ps-5" href="">Covaccine</a>
            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class=" m-auto p-2">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/userprofile">Booking Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/history">History</a>
                        </li>



                    </ul>
                </div>

                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">


                <!-- <button class="btn btn-outline-light" type="submit"><i class="fa fa-search"></i></button> -->


                
                <div class="dropdown ">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= ruser.dataValues.firstname %>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item  text-dark" href="/logout" onclick="return confirm('Are you sure you want to Logout?')" >Logout</a></li>
                    </ul>
                </div>




            </div>
        </div>
    </nav>


    <table id="myTable" class="display" style="width:100% ">

        <thead>
            <tr>
                <th>S.N.</th>
                <th>Hospital Name</th>
                <th>Hospital Address</th>
                <th>Vaccine Name</th>
                <th>Vaccine Time</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <% for (var i = 0; i < placename.length; i++) {%>
                <tr>
                    <td>
                        <%= i+1  %>
                    </td>
                    <td>
                        <%= placename[i].placename %>
                    </td>
                    <td>
                        <%= placename[i].cityname %>
                    </td>
                    <td>
                        <%= placename[i].vaccinename %>
                    </td>
                    <td>
                        <%= placename[i].availabletime %>
                    </td>

                    <td>

                        <button type="button" class="btn btn-primary"><a href="/covidbooking/<%= placename[i].id %>" class="text-light">Book</a></button>

                    </td>
                </tr>
                <%  } %>



    </table>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


    
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
        });
    </script>
</body>

</html>